@*
    NOTE REGARDING _Layout.cshtml

    THIS IS SHARED, MEANING ALL CODE HERE WILL GET APPLIED TO ALL PAGES UNLESS IT IS LEFT OUT
*@

<!--The technical stuff-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<!--BODY-->
<body>
    <!--NAV MENU-->
    <nav id="nav_menu">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li>
                <a asp-controller="Love" asp-action="MainLove">Things I Love</a>
                <ul>
                    <li><a asp-controller="Love" asp-action="Music">Music</a></li>
                    <li><a asp-controller="Love" asp-action="Film">Films</a></li>
                    <li><a asp-controller="Love" asp-action="VideoGame">Video Games</a></li>
                </ul>
                
            </li>
            <li><a asp-controller="Utility" asp-action="MainUtility">Utilities</a></li>
            <li>
                <a asp-controller="HowTo" asp-action="MainHow">How To</a>
                <ul>
                    <li><a asp-controller="" asp-action="BurnCD">Burn audio CDs</a></li>
                </ul>
            </li>
            <li><a asp-controller="About" asp-action="About">Learn More</a>
                <ul>
                    <li><a target="_blank" href="https://resume.corgitank.net/">The resume page</a></li>
                    <li><a asp-controller="About" asp-action="AboutCreator">About the creator</a></li>
                    <li><a asp-controller="About" asp-action="AboutWebsite">About the website</a></li>
                </ul>
            </li>

        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        &copy 2026 CorgiTank <a asp-controller="Home" asp-action="SecurityBugReport">Bug Reporting</a>
    </footer>
</body>
</html>