@*
	PROGRAM TITLE: CorgiTank - the website
	AUTHOR: Nolan Abbott
	CREATION DATE: [1/28/2026]
	DESCRIPTION: The super cool website known as corgitank
	USAGE/ISSUES: Meant to let me make cool stuff.
*@
@{
    ViewData["Title"] = "corgitank - home";
}

<!--The Body-->
<body>
	<video autoplay muted loop id="HomePagevideo">
		<source src="~/videos/EarthVideoBG.mp4" type="video/mp4" />
	</video>
	<header>
		<h1 id="headerleft">~</h1>
		<h1 id="headerright">~</h1>
		<h1>CorgiTank</h1>
		<h4>the official website</h4>
	</header>
	<section>
		<h2>This here is the main landing page</h2>
		<h3>_Please enjoy your stay_</h3>
	</section>
</body>