@*
	PROGRAM TITLE: CorgiTank - the website
	AUTHOR: Nolan Abbott
	CREATION DATE: [1/28/2026]
	DESCRIPTION: The super cool website known as corgitank
	USAGE/ISSUES: Meant to let me make cool stuff.
*@
@{
	ViewData["Title"] = "corgitank - home";
}

<!--The Body-->
<body>
	<video autoplay muted loop id="HomePagevideo">
		<source src="~/videos/EarthVideoBG.mp4" type="video/mp4" />
	</video>
	<header>
		<h1 id="headerleft">~</h1>
		<h1 id="headerright">~</h1>
		<h1>CorgiTank</h1>
		<h4>the official website</h4>
	</header>
	<section>
		<h2>This here is the main landing page</h2>
		<h3>_Please enjoy your stay_</h3>
		<div id="WebsiteUpdates">
				<h2>Website Updates</h2>
				<ul>
					<li>Added a website update section to homepage</li>
					<li>Added auto incrementing year</li>
					<li>Added new webpage that will contain various utlities</li>
					<li>Added webpage icon</li>
					<li>Removed the BED Calculator Page</li>
					<li>slightly improved some of the stylesheet code</li>
					<li>Cut homepage Background video in half</li>
				</ul>
		</div>
	</section>
</body>