@*
	PROGRAM TITLE: CorgiTank - the website
	AUTHOR: Nolan Abbott
	CREATION DATE: [1/28/2026]
	DESCRIPTION: The super cool website known as corgitank
	USAGE/ISSUES: Meant to let me make cool stuff.
*@
@{
    ViewData["Title"] = "corgitank - home";
}

<!--The Body-->
<body>
	<header>
		<h1 id="headerleft">~</h1>
		<h1 id="headerright">~</h1>
		<h1>CorgiTank</h1>
		<h4>the official website</h4>
	</header>
	<section>
		<h3>.This website is still under construction thank you for your patience.</h3>
	</section>
</body>
</html>