@{
    ViewData["Title"] = "Corgitank - Security";
    Layout = null;
}

<link rel="stylesheet" href="~/css/SecurityStyleSheet.css" />

<body>
    <header>
        <h1>Security Issues & Bug Reporting</h1>
    </header>
    <main>
        <p>
            This is the page where I explain that this is a personal project ran by one college student in their bedroom and I might miss certain things that could be a security issue.
            While I do attempt to keep everything in this project secure, I am still prone to missing things, this is where you (the person reading this) comes in!<br> If you ever come
            accross anything that you probably shouldn't have come across, whether it be a bug or a genuine security issue, please refer to the guidelines below.<br>
            All tips and advice are deeply appreciated.
        </p>
        <section>
        <h3>Contact Information</h3>
        <p>Contact Address: njabbott2005@gmail.com</p>
        </section>

        <section>
            <h3>General Guidelines and expectations for reporting:</h3>
            <ul>
                <li>Provide a clear explanation of the problem.</li>
                <li>If possible, include steps to replicate the problem.</li>
                <li>Please do not copy or modify any data that you do not own.</li>
                <li>Understand that I will always acknowledge that I recieved your email.</li>
            </ul>
        </section>

        <h2>As always, thank you for reporting any bugs or security concerns that you come accross!</h2>
        <p><a asp-controller="Home" asp-action="Index">Return to Home Page</a></p>
    </main>
</body>
<footer>
    &copy 2026 CorgiTank <a asp-controller="Home" asp-action="SecurityBugReport">Bug Reporting</a>
</footer>