@{
    ViewData["Title"] = "Corgitank - Utlities";
}
<!--Specific StyleSheet for this site-->
<link rel="stylesheet" href="~/css/UtlilityStyleSheet.css" />

<body>
<div id="Utility">
    <header>
        <h1>Utlities Portal Page</h1>
    </header>
    <ul>
        <li><a href="">What's My IP?</a></li>
        <li><a href ="">Random Cryptography / Encryption</a></li>
        <li><a href="">Decimal-Hex-Binary Converter</a></li>
        <li><a href="">B.E.D. Calculator</a></li>
    </ul>
</div>
</body>